<div class="row">
    <div class="container">
        <div class="alignCenter">
            <h1 class="splashh1">{{title}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="splashfont">
            <div class="alignCenter">...where you can get daily ideas of what to experience in your lifetime!</div>
            <br>
            <div class="alignCenter">
                <a href='/users/{{userId}}' class="waves-effect waves-light btn #ffb300 amber darken-1 z-depth-5">ENTER SITE</a>
            </div>
        </div>
    </div>
</div>