<h1>Users:</h1>
<ul>
        {{#each users}}
        <div class="center chip">
            <img src="{{this.img}}" class="userProfileImg"><a href='/users/{{this.id}}'>{{this.userName}}</a>
         </div>
        {{/each}}
</ul>
<a href='users/new'>Create New User</a>
