body {
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

.userProfileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.navColor {
  background-color: rgb(0,0,0);
  font-family: 'Covered By Your Grace', cursive;
}

.logo {
  height:35px;
  width:auto;
}