body {
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

.alignCenter {
  display: flex;
  justify-content: center;
}
.userProfileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.navColor {
  background-color: rgb(0,0,0);
  font-family: 'Covered By Your Grace', cursive;
}

.logo {
  height:35px;
  width:auto;
}

.go-back-btn {
  margin-top: px;
}

.spaceBetween {
  margin-left: 5px;
}
