<h1>New Activity List</h1>

<form method='POST' action='/users/{{userId}}/bucketLists/{{bucketId}}/activityList/'>
    <input type='text' name='name' placeholder='Name'>
    <input type='text' name='description' placeholder='Description'>
    <input type='text' name='location' placeholder='Location'>
    <input type='text' name='link' placeholder='Link to more Information'>
    <input type='text' name='duration' placeholder='Duration'>
    <input type='number' name='price' placeholder='Price'>
    <input type='submit' value='New Activity List'>
</form>
<br>
<a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList/">Go Back</a>