<div class="alignCenter">
    <h1>New Activity List</h1>
</div>
<div class="row">
    <div class="container">
        <form method='POST' action='/users/{{userId}}/bucketLists/{{bucketId}}/activityList/'>
            <input type='text' name='name' placeholder='Name'>
            <input type='text' name='description' placeholder='Description'>
            <input type='text' name='location' placeholder='Location'>
            <input type='text' name='link' placeholder='Link to more Information'>
            <input type='text' name='duration' placeholder='Duration'>
            <input type='number' name='price' placeholder='Price'>
            <div class="alignCenter">
                <input type='submit' value='Create New List' class="waves-effect waves-light btn #00838f cyan darken-3">
            </div>
        </form>
    </div>
</div>
<div class="alignCenter">
    <a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList/" class="waves-effect waves-light btn #00838f cyan darken-3">Go Back</a>
</div>