 <h1>{{bucketListName}}</h1>

 <div>Description: {{bucketListDescription}} </div> 
<ol>
    {{#each bucketListActivities}}
        <li>{{this.name}}</li>
    {{/each}}    
</ol>  
  
  
  
  
  
  
  
  
